/*home*/

@import url('https://kit.fontawesome.com/7078051783.js');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}



/* carousel.html */

.imageSlides {
  display: none
}
 
img {
  margin: auto;
  display: block;
  width: 100%;
}
 
/* Our main images-slideshow container */
.images-slideshow {
  max-width: 612px;
  position: relative;
  margin: auto;
}
 
/*Style for ">" next and "<" previous buttons */
.slider-btn{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
 
/* setting the position of the previous button towards left */
.previous {
  left: 2%;
}
 /* setting the position of the next button towards right */
.next {
  right: 2%;
}
 
/* On hover, adding a background color */
.previous:hover,
.next:hover {
  color: rgb(255, 253, 253);
  background-color: rgba(0, 0, 0, 0.8);
}



/*home2 slider*/

.sliderBody{
  height: 100vh;
  display: flex;
  justify-content: center;
 
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
overflow: hidden;}

.slide{
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
  
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top:45%;
  left: 2%;
}

.btn-next {
 top: 45%;
  right: 2%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.homeBackgroundImg{
  max-width: 100%;
 max-height: 600px;
 height: auto;
  display: flex;
  object-fit: cover;
}
.homeMain{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.carouselContainer{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 40vh; 
  max-width: 1200px;
  overflow: hidden; 
  scroll-behavior: smooth;

}



.wrapper{
  font-size: 0px;
  cursor: pointer;
 margin-left: 0px;
  white-space: nowrap;
   
}




.carousel-image{
  width: 350px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat; 
  margin-left: 14px;
  
}

.fa-angle-right{
  font-size: 40px;
  border-radius: 25px;
  background-color: #A67772;
}

.fa-angle-left{
  
  font-size: 40px;
  background-color: #A67772;
  border-radius: 25px;
}

.carouselBody i{
    
  background:#ABBF80;
  cursor: pointer;
  font-size: 1.2rem;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  
}




header {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 10px;
    background-color:#CCDA9C;
  }
  
  .header2 {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
    
    
  }

  .logo{
    width: 500px;
    height: 150px;
    margin-top: 0%;
  }
  
  nav {
    position: absolute;
    
  }
  nav,
  #menu-checkbox {
    display: none;
  }
  #menu-checkbox:checked ~ nav {
    display: inline-flex;
    flex-direction: column;
    background-color: #000;
    padding: 50px;
    font-size: 20px;
    border-radius: 20px;
    
    
  }
  
  .navgone {
    display: none;
  }
  
  nav a {
    color: #142601;
    font-size: 30px;
    text-decoration: none;
  }

  .form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
  }

  .contactButton, .loadMore{
    width: 140px;
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .contactButton:hover,
  .loadMore:hover {
    background-color:darkolivegreen;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  #thankYouMessage {
    display: none;
    padding: 50px;
    
  }

  .containerform {
    
    max-width: 600px;
    
    display: flex;
    align-items: center;
    justify-items:center;
    justify-content: center;
    box-shadow: 0 5px 100px #A67772;
    flex-direction: column;
    background-color: #ABBF80;
    
    margin-top: 100px;
  }
  
  
  form {
    height: 75vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
  }

  input{
    border-radius: 20px;
    height: 20px;
    margin: 10px;
  }

 
  
  .blogPosts{
   display: flex;
   flex-direction: column;
   justify-items: center;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   margin: 20px;
   box-shadow: 3px 3px 3px 3px #F2D091;
   color: #000;
   border-radius: 5px;
   margin-top: 50px;
   
  }

  .productsApi{
    display: flex;
    justify-items: center;
   justify-content: center;
   flex-wrap: wrap;
  }

  .product-image{
    width: 350px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .homeH1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30PX;
  }
  
  

 

  .detail-image, .myDetailImg{
    width: 400px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .modal-image{
    width: 800px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    justify-content: center;
    
  }


  .blog-details{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loadMoreContainer{
    display: flex;
    justify-content: center;
  }

  .spinner{
    border: 20px solid #f3f3f3;
    border-top: 20px solid #9a08e2;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    
    
  }
  
  @keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }

/*modal*/


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
  
}

#myImg:hover {opacity: 0.1;}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/*about*/

.aboutH1{
  text-align: center;
  margin-top: 50px;
}

.aboutH2{
  max-width: 400px;
  background-color: #ABBF80;
  padding: 30px;
  padding-top: 40px;
  border-radius: 15px;
 
}

.aboutP{
  margin-top: 200px;
  padding: 30px;
  word-wrap: break-word;
   width: 250px;
   background-color: #A67772;
   border-radius: 15px;
}

.aboutBox{
  display: flex;
  align-items:center;
  justify-items: center;
  justify-content: center;
  margin-top: 100px;
 
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

 
  
/* desktop*/
@media (min-width: 804px) {
    nav,
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
    }
  
    a {
      margin: 30px;
      font-size: 20px;
    }
    .hamburger-icon {
      display: none;
    }
    nav a {
      display: inline-block;
      text-decoration: none;
    } 
   
  } 

    /*tablet*/
@media only screen and (min-width: 481px) and (max-width: 803px) {

    .logo{display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 300px;
        height: 100px;
}

.carousel-image{
  width: 250px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat; 
}


.hamburger-icon{
  font-size: 30px;
  padding-bottom: 200px;
  color: #000;
}

.header2{
  display: flex;
  align-items: center;
  
  
}
}

/* mobile */
@media only screen and (max-width: 480px){

  .logo{display: block;
    margin-top: 20px;
    width: 200px;
    height: 100px;
}

.hamburger-icon{
  font-size: 30px;
  color: #000;
  padding-bottom: 200px;
}




}

